<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<title>Acesso</title>
	<link rel="stylesheet" href="../../bower_components/semantic/dist/semantic.css">
	<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../../bower_components/semantic/dist/semantic.min.js"></script>
	<style type="text/css">
		body {
		  background-color: #DADADA;
		}
		body > .grid {
		  height: 100%;
		}
		.image {
		  margin-top: -100px;
		}
		.column {
		  max-width: 450px;
		}
  </style>
</head>
<html>

<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="../../images/logo.svg" class="image">
      <div class="content">
        Acesse sua conta
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="usuario" placeholder="Usuário">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="senha" placeholder="Senha">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Entrar</div>
      </div>

      <div class="ui error message"></div>

    </form>

  </div>
</div>

</body>
<script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            usuario: {
              identifier  : 'usuario',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Informe o usuário'
                }
              ]
            },
            senha: {
              identifier  : 'senha',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Informe a senha'
                },
                {
                  type   : 'length[6]',
                  prompt : 'A senha deve possuir ao menos 6 caracteres'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
</html>
