<div class="ui vertical fluid tabular menu">
 
  <a ng-class="{ active : url == 'inicio' }" href="#/inicio" class="header item">
	Prefeitura
  </a>
 	<div class="ui divider"></div>
 		<div class="item titulo-secao">Cadastros</div>
		  <a ng-class="{ active : url == 'problemas' }" class="item" href="#/problemas/">
			Problemas
		  </a>
		  <a ng-class="{ active : url == 'medidas' }" class="item" href="#/medidas/">
			Medidas
		  </a>
		  <a ng-class="{ active : url == 'categorias' }" class="item" href="#/categorias/">
			Categorias de problemas
		  </a>
		  <a ng-class="{ active : url == 'bairros' }" class="item" href="#/bairros/">
			Bairros
		  </a>
		  <a ng-class="{ active : url == 'usuarios' }" class="item" href="#/usuarios/">
			Usuários
		  </a>
  
  
   <div class="ui divider"></div>
    <div class="item titulo-secao">Relatórios</div>
    <div class="item">Problemas por mês</div>
    <div class="item">Problemas por categoria</div>
    <div class="item">Custo total por categoria</div>
  </a>
   <div class="ui divider"></div>
  
	<a class=" item">
	  Sair
	</a>
  
</div>
