<div class="ui vertical fluid tabular menu">

	<a ng-class="{ active : url == 'inicio' }" href="#/inicio" class="header item">
		Prefeitura
	</a>
	<div class="ui divider"></div>
	<div class="item titulo-secao">Cadastros</div>
	<a ng-class="{ active : url == 'problemas' }" class="item" href="#/problemas/">
		Problemas
	</a>
	<div ng-if="usuarioLogado().tipo.nome == 'ADMINISTRADOR'">
		<a ng-class="{ active : url == 'categorias' }" class="item" href="#/categorias/">
			Categorias de problemas
		</a>
		<a ng-class="{ active : url == 'bairros' }" class="item" href="#/bairros/">
			Bairros
		</a>
		<a ng-class="{ active : url == 'usuarios' }" class="item" href="#/usuarios/">
			Usuários
		</a>
	</div>
	<div ng-if="usuarioLogado().tipo.nome == 'ADMINISTRADOR'">
		<div class="ui divider"></div>
		<div class="item titulo-secao">Relatórios</div>
		<a ng-class="{ active : url == 'problemas_mes' }" class="item" href="#/relatorios/problemas_mes/">Problemas por mês</a>
		<a ng-class="{ active : url == 'problemas_categoria' }" class="item" href="#/relatorios/problemas_categoria/">Problemas por categoria</a>
		<a ng-class="{ active : url == 'custo_categoria' }" class="item" href="#/relatorios/custo_categoria/">Custo total por categoria</a>
	</div>
</a>
<div class="ui divider"></div>

<a class="item" href="#/login" ng-click="logout()">
	{{ usuarioLogado().nome }} | Sair
</a>

</div>
